[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytorch = "*"
minerva-ml = "*"
tensorboard = "*"
tensorboardx = "*"
h5py = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
